@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  @font-face {
    font-family: "vazir";
    src: url("./assets/Font/Vazirmatn-Medium.woff2");
  }
  html {
    font-family: "vazir", system-ui, sans-serif;
  }
 
}
@layer components {
  
  .active-item-nav::before  {
    content: "";
    top: 0;
    right: 0;
    z-index: 1;
    position: absolute;
    width: 0.5rem;
    height: 100%;
    background: rgb(0, 46, 99);
  }
}
